body {
  background-color: #aaaea7;
  font-family: 'GFS Neohellenic', sans-serif;
  color: rgb(74, 74, 74);
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#central--div {
  margin-left: auto;
  width: 40%;
  background-color: #BBD38B;
  padding: 4rem;
  border-radius: 1rem;
  margin: auto;
  margin-top: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="password"] {
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: none;
}

label,
input {
  display: block;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

#teacher--message {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
  letter-spacing: 0.08rem;

  margin: auto;
  margin-top: 5rem;
  font-style: italic;
}

input[type="submit"] {
  background-color: rgb(74, 74, 74);

  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  /* box-shadow: 2px 2px 2px rgb(74, 74, 74); */
}

/* Add some hover effects to the submit button */
input[type="submit"]:hover {
  background-color: #BBD38B;
  transform: scale(1.1);
  color: #ffffff;
  transition: 0.14s ease-in-out;
}

#valid{
  display: none;
}
